@import url('bootstrap');
@import url('bootstrap-icons');


.grassetto {
    font-family: 'Inter Variable', sans-serif;
}


nav{
    background-color: rgba(255, 196, 0, 0.452);
    max-height: 80px;
    
}
.img-banner {
    width: 100%;
    aspect-ratio: 16/7;
    background-image: url("./assets/img/ChatGPT Image 16 mag 2026, 18_02_11.png");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
}


.img-product {
    width: 100%;
    height: 260px;
    object-fit: contain;
    background-color: #ffffff;
    display: block;
}


.card .card-img-top {
    width: 100%;
    height: 260px;
    object-fit: contain;
}